/* Google CSE style overrides */
#google-cse {
  margin-top: 20px;
  tbody {
    background-color: transparent;
    tr {
      border-bottom: none;
    }
    td {
      padding: inherit;
      margin: inherit;
    }
  }
  form.gsc-search-box {
    margin: 10px 0 30px;
  }
  .gsc-control-cse {
    padding: 0;
    .gsc-input-box {
      height: 30px;
      padding: 0 0 0 10px;
      .gsc-input {
        box-shadow: none;
      }
      .gsst_a .gscb_a {
        vertical-align: middle;
      }
    }
    input.gsc-search-button {
      box-sizing: initial;
      vertical-align: middle;
      margin: 0 0 0 5px;
    }
    .gsc-tabHeader.gsc-inline-block {
      margin-top: 2px;
      background-color: transparent;
    }
  }
  .gsc-url-top, .gsc-thumbnail-inside {
    padding: 0;
  }
}